@charset 'utf-8';
.headscroll {
    position: fixed;
    top: -50px;
    left: 0;
    height: 50px;
    width: 100%;
    background: #fff;
    opacity: 0.9;
    filter:Alpha(opacity=90);
    box-shadow: rgba(0, 0, 0, .2) 0 1px 5px;  
    z-index: 9999;
}
.fenlei {
    position: absolute;
    top: 6px;
    left: 50%;
    width: 200px;
    margin-left: -600px;
    z-index: 980 !important;
    h2 {
        background: #f1f1f1;
        opacity: 0.9;
        filter:Alpha(opacity=90);
        height: 38px;
        span {
            float: right;
            display: block;
            margin: 14px 17px;
            width: 18px;
            height: 12px;
            background: url("../img/ui.png") 0 -1344px;
            overflow: hidden;
        }
        a {
            width: 133px;
            height: 38px;
            overflow: hidden;
            color: #585855;
            font-family: 'Microsoft YaHei';
            font-weight: 700;
            font-size: 15px;
            line-height: 38px;
            padding-left: 15px;
            float: left;
        }
    }
}
.topsearch {   
    width: 500px;        
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -215px;
}
.searchbox {
    border: 1px solid #dd00a7;
    position: relative;
    font-size: 14px;
    height: 30px;
    background: #fff;
    label {
        font-family: 'microsoft yahei';
        position: absolute;
        top: 0;
        left: 72px;
        right: 110px;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
        color: #bbb;
        cursor: text;
    }
    input {
        border: none;
        width: 310px;
        padding: 5px 5px 5px 72px;
        line-height: 20px;
        float: left;
        font-size: 14px;
        font-family: arial;
        color: #5E5E5E;
        background-color: transparent;
    }
    button {
        width: 90px;
        height: 30px;
        border: none;
        cursor: pointer;
        float: right;
        display: inline;
        background: #dd00a7;
        font: 16px/30px 'microsoft yahei';
        color: #fff;
        letter-spacing: 2px;
        text-indent: 0;
    }
}
.voice-search {
    margin-right: 3px;
    opacity: 0.55;
    filter:alpha(opacity=55);
    float: right;
    padding: 5px 0;
    cursor: pointer;
    width: 15px;
    height: 20px;
    background: url("../img/voice.png") no-repeat center;
    background-size: 13px 19px;
}
#search-type-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    color: #A5A5A5;
    float: left;
    width: 62px;
    height: 30px;
    line-height: 30px;
    .search-type {
        position: relative;
        width: 42px;
        padding: 0 10px;
        height: 30px;
        border-right: 1px solid #dd00a7;
        i {
            position: absolute;
            width: 11px;
            height: 7px;
            right: 9px;
            top: 11px;
            background: url("../img/ui.png") -145px -1469px;
        }
    }
    
}