@charset "utf-8";
$bg-color: #f8f8f8 !default;
$icon-color: #dd00a7 !default;
$fonthover-color:#f5004b!important !default;
$font-color:#5e5e5e!important !default;
$bghover-color:#ffffff!important !default;
$textindent:-9999px;
